$theme-colors: (
	/* Bootstrap */
	"primary": #628ebd,
	"secondary": #6c757d,
	"success": #28a745,
	"danger": #dc3545,
	"warning": #ffc107,
	"info": #17a2b8,
	"light": #f8f9fa,
	"dark": #343a40,
	"white": #fff,
	/* Extra */
	"stagile": #b91616,
	"stdashboard": #2980b9,
	"stpivot": #9aa210,
	"streport": #e67e22,
	"cde": #1c1c1c,
	"unknown": #7b7b7b
);

$yiq-text-dark: #495057;
$yiq-text-light: #f8f9fa;
