{
	admin off
	auto_https disable_redirects
}

http://{$FQSU_DOMAIN}:8080 {
	redir /* https://{host}:8443{uri} 301
}

https://{$FQSU_DOMAIN}:8443 {
	tls internal

	# Pentaho BI Server
	reverse_proxy /* {
		to http://biserver:8080
		header_down Set-Cookie "^(.*)$" "$1; SameSite=Strict; Secure"
	}

	# Webpack Dev Server
	handle_path /pentaho/content/stsearch/resources/html/* {
		reverse_proxy http://host.docker.internal:8081
	}
	reverse_proxy /ws host.docker.internal:8081
}
