@import 'utils/variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-v4-rtl/scss/_rtl.scss';

@import 'utils/em';
@import 'utils/fonts';
@import 'utils/helpers';
@import 'utils/loading';

@import 'search-banner-element';
@import 'search-file-element';
@import 'search-file-list-element';
@import 'search-file-tag-element';
@import 'search-folder-element';

body {
	font-family: 'Titillium Web', $system-sans-serif;
	font-size: $em-base + 0px;
	text-align: inherit;
	background-color: transparent;
}

body.loading {
	> * { display: none !important; }
	@include loading();
}

#noty {
	position: fixed;
	bottom: 1em;
	right: 0;
	padding: 0 1em;
	width: 100%;
	max-width: 25em;
	z-index: 5000;
}
