@import 'utils/variables';

@import '~bootstrap/scss/bootstrap';

@import 'utils/em';
@import 'utils/fonts';
@import 'utils/helpers';

@import 'search-banner-element';
@import 'search-file-element';
@import 'search-file-tag-element';
@import 'search-folder-element';

body {
	font-family: 'Titillium Web', $system-sans-serif;
	font-size: $em-base + 0px;
	background-image: url('../../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#noty {
	position: fixed;
	bottom: 1em;
	right: 0;
	padding: 0 1em;
	width: 100%;
	max-width: 25em;
	z-index: 2147483647;
}
