@import 'utils/variables';

@import '~bootstrap/scss/bootstrap';
@import "~noty/src/noty";
@import "~noty/src/themes/bootstrap-v4";

@import 'utils/em';
@import 'utils/fonts';
@import 'utils/helpers';

@import 'search-file-element';

body {
	font-family: $system-sans-serif;
	font-size: $em-base + 0px;
	background-image: url('../../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#noty {
	position: fixed;
	top: 8em;
	right: 0;
	padding: 0 1em;
	width: 100%;
	max-width: 25em;
	z-index: 2147483647;
	@media (max-width: 768px) { top: 15em; }
}
