.search-file-element {
	> .card {
		border-left-width: 5px;
		border-left-style: solid;
		border-left-color: map-get($theme-colors, unknown);
	}

	&.file-extension-xjpivot {
		> .card {
			border-left-color: map-get($theme-colors, stpivot);
		}
	}

	&.file-extension-adhoc, &.file-extension-prpt {
		> .card {
			border-left-color: map-get($theme-colors, streport);
		}
	}

	&.file-extension-std {
		> .card {
			border-left-color: map-get($theme-colors, stdashboard);
		}
	}

	&.file-extension-sta {
		> .card {
			border-left-color: map-get($theme-colors, stagile);
		}
	}

	&.file-extension-wcdf {
		> .card {
			border-left-color: map-get($theme-colors, cde);
		}
	}
}
