.search-file-element {
	> .card {
		border-left-width: 5px;
		border-left-style: solid;
		border-left-color: map-get($theme-colors, file-other);

		> .card-header .btn {
			font-size: 1.2rem;
			color: map-get($theme-colors, file-other);

			&:hover:not(:disabled) {
				opacity: 0.75;
				border-color: transparent;
				background-color: transparent;
			}

			&:focus {
				box-shadow: $input-focus-box-shadow;
			}
		}

		> .card-header .card-buttons .btn:disabled {
			opacity: 0.4;
			cursor: not-allowed;
		}
	}

	@each $extension in adhoc, pdf, prpt, sta, std, stolap, url, wcdf, xjpivot {
		&.file-extension-#{$extension} {
			> .card {
				border-left-color: map-get($theme-colors, file-#{$extension});

				> .card-header .btn {
					color: map-get($theme-colors, file-#{$extension});
				}
			}
		}
	}
}

