.search-file-element {
	> .card {
		border-left-width: 5px;
		border-left-style: solid;
		border-left-color: map-get($theme-colors, file-unknown);

		> .card-header .btn {
			color: map-get($theme-colors, file-unknown);
		}

		> .card-header .card-buttons .btn:disabled {
			opacity: 0.4;
			cursor: not-allowed;
		}
	}

	@each $extension in wcdf, xjpivot, adhoc, prpt, std, sta {
		&.file-extension-#{$extension} {
			> .card {
				border-left-color: map-get($theme-colors, file-#{$extension});

				> .card-header .btn {
					color: map-get($theme-colors, file-#{$extension});
				}
			}
		}
	}
}
