http://*:2015 {
	# Pentaho BI Server
	proxy /pentaho 127.0.0.1:8080 {
		transparent
	}
	# Webpack Dev Server
	proxy /pentaho/content/stsearch/resources/html 127.0.0.1:9000 {
		without /pentaho/content/stsearch/resources/html
		transparent
	}
	redir 302 {
		if {path} is /
		/ /pentaho
	}
	log / stdout
}
